*{
        padding:0;
        margin:0;
    }
    #wrap{
        width:100%;
        position: relative;
        height:3000px;
    }
    #header{
        width:100%;
        height:868px;
        background:url(../images/bg0.jpg) no-repeat;
    }
    #uername{
        padding-left:88px;
        padding-top:38px;
        font-size: 50px;
        font-family:"Segoe Script";
        font-weight: bold;
        text-shadow: 2px 2px #245f6b;

    }
    #nav{
        padding-left: 66px;
        padding-top: 45px;
    }
    #nav ul li{
        margin-left:140px;
        text-align: center;
        height: 40px;
        width: 130px;
        float: left;
        font-size: 22px;
        font-family: "Segoe Print";
        font-weight: bold;
        list-style: none;
        transition:all 0.3s linear;
    }
    #nav ul li:hover{
        background-color:#FFD670;
    }
    #nav ul li:hover a{
        color:#000;
    }
    #nav ul li a{
        text-decoration:none;
        color:#fff;
        transition:all 0.3s linear;
    }
    #centent{
        width: 500px;
        height: 450px;
        text-align: center;
        margin-left: 420px;
        margin-top: 165px;

    }
    #centent .span{
        font-family: "MV Boli";
        font-size: 56px;
        color:#fff;
        height:60px;
    }
    #centent .span span{
        font-weight: bold;
    }
    #born{
        font-weight: 300;
        margin-top: 40px;
        font-size: 24px;
        color: #fff;
    }
    #logo{
        margin-bottom:20px;
    }
    #centent ul{
        width:300px;
        height:100px;
        margin-top:73px;
        margin-left:130px;
        position: relative;
    }
    #centent ul li{
        float:left;
        list-style: none;
        width:80px;
        height:50px;
    }
    #centent ul li img:hover{
        opacity: 0.5;
    }
    #centent ul #la1{
        display: block;
        width: 100px;
        height: 3px;
        background-color: #7e7984;
        position: absolute;
        left: -84px;
        top: 23px;
    }
    #centent ul #la2{
        display: block;
        width: 100px;
        height: 3px;
        background-color: #7e7984;
        position: absolute;
        right: -24px;
        top: 23px;
    }
    #foot{
        margin-top: 100px;
        height: 100px;
    }
    #foot ul{
        width: 1200px;
        height: 100px;
        margin-left: -15px;
        margin-top: 100px;
    }
    #foot ul li{
        list-style: none;
        line-height: 35px;
        float: left;
        margin-left: 230px;
        margin-top: 25px;
        text-decoration: none;
        color: #fff;
        font-size: 22px;
        font-family: "MV Boli";
    }
    #foot ul li a{
        text-decoration:none;
        color:#fff;
        font-size: 22px;
        font-family: "MV Boli";
    }
    #foot ul li span{
        color: #FFD670;
        display: inline-block;
        height: 28px;
    }
    #foot ul li span:hover{
        border-bottom:1px solid #FFD670;
    }
    #jasonxu{
        display: block;
        width: 100px;
        height: 50px;
        position: absolute;
        left: 630px;
        top: 172px;
        font-family: "楷体";
        font-size: 25px;
        color: #fff;
    }
    #about{
        background-color:#524664;
        width:100%;
        height:800px;

    }
    #about{
        position: relative;
    }
    #account{
        position: absolute;
        left:588px;
        top:50px;
        text-align: center;
    }
    #account h3{
        font-size: 2.3em;
        color:#fff;
        font-family:"微软雅黑";
    }
    #account label{
        height: 3px;
        width: 50px;
        background: #736588;
        display: block;
        position: absolute;
        right: 39.5%;
        top:150px;
    }
    #account p{
        margin-top: 25px;
        font-size: 1.2em;
        color: #fff;
    }
    #me{
        width:100%;
        height:68%;
        position:absolute;
        left:0px;
        top:32%;
    }
    #me #who{
        width:30%;
        height:100%;
        position: absolute;
        top:0px;
        left:90px;
        color:#C4C0CF;
        word-spacing: 2px;
        font-size:18px;
    }
    #me #who span{
        color:#fff;
        font-size:20px;
        font-weight: 800;
        font-family:"微软雅黑";
    }
    #image{
        position: relative;
        left:545px;
        top:75px;
        width:300px;
        height:300px;
        border-radius: 50%;
        border:5px #ffd670 solid;
        text-align:center;
    }
    #image img{
        width:250px;
        height:250px;
        border-radius: 50%;
        margin-top:30px;
        opacity: 0.6;
    }
    #skill{
        width: 30%;
        height: 100%;
        position: absolute;
        left: 900px;
        top:0px;
    }
    #skill h4{
        color:#fff;
        font-size:20px;
        font-weight: 800;
        font-family:"微软雅黑";
    }
    #skill p{
        color:#C4C0CF;
        font-size: 17px;
        font-family:"微软雅黑";
        margin-top:20px;
    }
    #skill .percen{
        width: 390px;
        height:40px;
        background-color:#615474;
        margin-top:20px;
    }
    #skill .percen #ps{
        width:40%;
        height: 100%;
        background-color:#ffd670;
        position: relative;
        font-weight: 600;
        text-indent: 10px;
        font-size: 15px;
    }
    #skill .percen .height{
        line-height:40px;
        color:#fff;
    }
     #skill .percen #sublime{
        width:70%;
        height: 100%;
        background-color:#ffd670;
        position: relative;
        font-weight: 600;
        text-indent: 10px;
        font-size: 15px;
    }
    #skill .percen #sublime span{
        display: block;
        position: absolute;
        right: 10px;
        color:#4A5561;
        top:0;
    }
     #skill .percen #github{
        width:60%;
        height: 100%;
        background-color:#ffd670;
        position: relative;
        font-weight: 600;
        text-indent: 10px;
        font-size: 15px;
    }

    #skill .percen #github span{
        display: block;
        position: absolute;
        right: 10px;
        color:#4A5561;
        top:0;
    }
    #skill .percen #ps span{
        display: block;
        position: absolute;
        right: 10px;
        color:#4A5561;
        top:0;
    }


    #skill .percen .height span{
        color:#000;
    }
    #me #who ul{
        width:100%;
        height:10%;
        margin-top:45px;
    }
    #me #who ul li{
        list-style:none;
        float:left;
        margin-left:50px;
    }
    #me #who ul li img:hover{
        opacity: 0.6;
    }






#main-nav{
    height:40px;
    width:100%;
    background-color:#2e1b4a;
    position: absolute;
    left:0px;
    top:0px;
}

#main-nav span{
    font-size: 23px;
    color: #fff;
    line-height: 40px;
    display: inline-block;
    text-indent: 12px;
}
#main-nav div{
    display: inline-block;
    position: absolute;
    right: 20px;
    top:px;
}
#main-nav div img{
    margin-top:8px;
    cursor:pointer;
}
#main-nav div img:hover{
    opacity: 0.6;
    border:1px #000 solid;
}