*{
        padding:0;
        margin:0;
    }
    #wrap{
        width:1349px;
        position: relative;
        overflow: hidden;
        margin:0 auto;
    }



    /*这里是第一页的部分*/
    #header{
        width:100%;
        height:868px;
        background:url(../images/bg0.jpg) no-repeat;
    }
    #uername{
        padding-left:88px;
        padding-top:38px;
        font-size: 50px;
        font-family:"Segoe Script";
        font-weight: bold;
        text-shadow: 2px 2px #245f6b;

    }
    #nav{
        padding-left: 3.5%;
        padding-top:0%;
    }
    #nav ul li{
        margin-left:140px;
        text-align: center;
        height: 40px;
        width: 130px;
        float: left;
        font-size: 22px;
        font-family: "Segoe Print";
        font-weight: bold;
        list-style: none;
        transition:all 0.3s linear;
        cursor:pointer;
    }
    #nav ul li:hover{
        background-color:#FFD670;
    }
    #nav ul li:hover a{
        color:#000;
    }
    #nav ul li a{
        line-height: 40px;
        text-decoration:none;
        color:#fff;
        transition:all 0.3s linear;
    }
    #centent{
        width: 100%;
        height: 50%;
        text-align: center;
        margin: 13% auto;

    }
    #centent .span{
        font-family: "MV Boli";
        font-size: 56px;
        color:#fff;
        height:60px;
    }
    #centent .span span{
        font-weight: bold;
    }
    #born{
        font-weight: 300;
        margin-top: 40px;
        font-size: 24px;
        color: #fff;
    }
    #logo{
        margin-bottom:20px;
    }
    #centent ul{
        width:100%;
        height:100px;
        margin-top:6%;
        position: relative;
    }
    #centent ul li{
        display: inline-block;
        list-style: none;
        width:80px;
        height:50px;
    }
    #centent ul li img:hover{
        opacity: 0.5;
    }
    #centent ul #la1{
        display: block;
        width: 100px;
        height: 3px;
        background-color: #7e7984;
        position: absolute;
        left: 34.3%;
        top: 22%;
    }
    #centent ul #la2{
        display: block;
        width: 100px;
        height: 3px;
        background-color: #7e7984;
        position: absolute;
        right: 34.3%;
        top: 22%;
    }
    #foot{
       margin-top: -7%;
       height: 11.7%;
    }
    #foot ul{
        width: 100%;
        height: 100%;
    }
    #foot ul li{
        list-style: none;
        height:100%;
        line-height:100px;
        display: inline-block;
        text-decoration: none;
        width: 33.33%;
        text-align: center;
        color: #fff;
        font-size: 22px;
        font-family: "MV Boli";
    }
    #foot ul li a{
        text-decoration:none;
        color:#fff;
        font-size: 22px;
        font-family: "MV Boli";
    }
    #foot ul li span{
        color: #FFD670;
        display: inline-block;
        height: 62px;
    }
    #foot ul li span:hover{
        border-bottom:1px solid #FFD670;
    }
    #jasonxu{
        display: block;
        width: 100px;
        height: 50px;
        position: relative;
        top: 20%;
        margin:0 auto;
        font-family: "楷体";
        font-size: 25px;
        color: #fff;
        text-align: center;
    }




    /*这里是ABOUT页面的部分*/
    #about{
        background-color:#524664;
        width:100%;
        height:800px;

    }
    #about{
        position: relative;
    }
    #account{
        position: relative;
        top: 25px;
        text-align: center;
    }
    #account h3{
        font-size: 2.3em;
        color:#fff;
        font-family:"微软雅黑";
    }
    #account label{
        height: 3px;
        width: 50px;
        background: #736588;
        display: block;
        position: absolute;
        left: 48%;
        top: 79%;
    }
    #account p{
        margin-top: 25px;
        font-size: 1.2em;
        color: #fff;
    }
    #me{
        width: 100%;
        height: 68%;
        position: relative;
        left: 0px;
        top: 0%;
    }
    #me #who{
        width: 30.33%;
        height: 100%;
        position: relative;
        top: 0px;
        left: 6%;
        color: #C4C0CF;
        word-spacing: 2px;
        font-size: 18px;
        float:left;
    }
    #me #who span{
        color:#fff;
        font-size:20px;
        font-weight: 800;
        font-family:"微软雅黑";
    }
    #image{
        position: relative;
        left: 8%;
        top: 14%;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 5px #ffd670 solid;
        text-align: center;
        float:left;
    }
    #image img{
        width:250px;
        height:250px;
        border-radius: 50%;
        margin-top:30px;
        opacity: 0.6;
    }
    #skill{
        width: 33.33%;
        height: 100%;
        position: relative;
        left: 13%;
        top: 0px;
        float:left;
    }
    #skill h4{
        color:#fff;
        font-size:20px;
        font-weight: 800;
        font-family:"微软雅黑";
    }
    #skill p{
        color:#C4C0CF;
        font-size: 17px;
        font-family:"微软雅黑";
        margin-top:20px;
    }
    #skill .percen{
        width: 390px;
        height:40px;
        background-color:#615474;
        margin-top:20px;
    }
    #skill .percen #ps{
        width:40%;
        height: 100%;
        background-color:#ffd670;
        position: relative;
        font-weight: 600;
        text-indent: 10px;
        font-size: 15px;
    }
    #skill .percen .height{
        line-height:40px;
        color:#fff;
    }
     #skill .percen #sublime{
        width:70%;
        height: 100%;
        background-color:#ffd670;
        position: relative;
        font-weight: 600;
        text-indent: 10px;
        font-size: 15px;
    }
    #skill .percen #sublime span{
        display: block;
        position: absolute;
        right: 10px;
        color:#4A5561;
        top:0;
    }
     #skill .percen #github{
        width:60%;
        height: 100%;
        background-color:#ffd670;
        position: relative;
        font-weight: 600;
        text-indent: 10px;
        font-size: 15px;
    }

    #skill .percen #github span{
        display: block;
        position: absolute;
        right: 10px;
        color:#4A5561;
        top:0;
    }
    #skill .percen #ps span{
        display: block;
        position: absolute;
        right: 10px;
        color:#4A5561;
        top:0;
    }


    #skill .percen .height span{
        color:#000;
    }
    #me #who ul{
        width: 100%;
        height: 10%;
        margin-top: 19%;
    }
    #me #who ul li{
        list-style:none;
        float:left;
        margin-left:50px;
    }
    #me #who ul li img:hover{
        opacity: 0.6;
    }




/*上面的那个导航条*/

#nav-top{
    height:50px;
    width:1349px;
    position: fixed;
    z-index: 56565656;
    display: none;
}
#guanli{
    width:150px;
    height:200px;
    position: absolute;
    overflow: hidden;
    right:0px;
}
#main-nav{
    height:40px;
    width:1349px;
    background-color:#2e1b4a;
    position: relative;
    z-index:2523452345;
}

#main-nav span{
    font-size: 23px;
    color: #fff;
    line-height: 40px;
    display: inline-block;
    text-indent: 12px;
}
#main-nav #set{
    display: inline-block;
    position: absolute;
    right: 20px;
    height:41px;
}
#main-nav #set img{
    margin-top:8px;
    cursor:pointer;
}
#main-nav #set img:hover{
    opacity: 0.6;
    border:1px #000 solid;
}


/*右上角的设置*/
#nav-move{
    width: 150px;
    height: 200px;
    position: absolute;
    left:1349px;
    background-color: #2e1b4a;
    z-index: 88888;
}
#nav-move ul li{
    text-align: center;
    list-style: none;
    line-height: 40px;
}
#nav-move ul li:hover{
    background-color:#0b0414;
}
#nav-move ul li a{
    text-decoration:none;
    color:#fff;
    font-size:18px;
    display: inline-block;
    width:100%;
    height:100%;
}






/*这里是WORK页面*/
#work{
    width:100%;
    height:1400px;
    background-color:#ffd670;
    position: relative;
}
.account-f{
    text-align: center;
    position: relative;
    top: 4%;
    height:15%;
    z-index: 998;
}
 .account-f h3{
    font-size: 2.3em;
    color:#fff;
    font-family:"微软雅黑";
}
.account-f label{
    height: 3px;
    width: 50px;
    background: #fff0ca;
    display: block;
    position: absolute;
    left: 48%;
    top: 46%;
}
#work .account-f label{
    position:absolute;
    left:48%;
    top: 27%;
}
.account-f p{
    margin-top: 25px;
    font-size: 1.2em;
    color: #fff;
}
/*这里是work-cnetent页面*/
#work-centent{
    width:90%;
    height:40%;
    margin:0 auto;
}

/*这里是work中的项目页面*/
#project{
    float:left;
    width:39%;
    height:100%;
    font-family:"微软雅黑";
}
#project-name{
    width: 100%;
    height: 14%;
    border-bottom: 1px solid #fff;
}
#project-name span{
    font-weight: 300;
    display: block;
    font-size: 15px;
    color: #FFF1CE;
    text-transform: uppercase;
    margin-bottom: 0.7em;
}
#project-name p{
    font-size: 1.5em;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
}

#project-description{
    width:100%;
    height:40%;
    border-bottom:1px solid #fff;
}
#project-description ul{
    height:33%;
    width:80%;
    margin-left:20%;
    clear: both;
}
#project-description ul li{
    clear: both;
    width:50%;
    list-style-type: circle;
}
#project-description ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    display: block;
    margin: 6px 0;
}
#project-description p{
    color: #FFF1CE;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 1em 0;
}
#project-description span{
    display: block;
    width: 100%;
    height: 37%;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    margin: 13px 0;
    line-height: 27px;
}



#project-address{
    width: 100%;
    height: 18%;
    border-bottom: 1px solid #fff;
}
#project-address span{
    display: block;
    width: 100%;
    color: #fff;
    font-size: 18px;
    padding-top: 17px;
    font-weight: 100;
}
#project-address p{
    line-height: 56px;
    margin-left: 42px;
    color: #fff;
    font-weight: 800;
}


#tags{
    width:100%;
    height:25%;
}
#tags span{
    display: block;
    width: 100%;
    color: #fff;
    font-size: 18px;
    padding-top: 17px;
    font-weight: 100;
}
#tags p{
    line-height: 56px;
    margin-left: 42px;
    color: #fff;
    font-weight: 800;
}




/*这里是work中的slide页面*/
#slide{
    float:left;
    width:60%;
    height:100%;
}
/*这里是work的photo页面*/
#work-photo{
    width:90%;
    height:50%;
    margin:0 auto;
}

#work-photo .photo{
    height:300px;
    width:300px;
    float:left;
    text-align: center;
    position:relative;
    overflow: hidden;
    cursor:pointer;
}
#work-photo .photo img{
    line-height: 250px;
    width: 200px;
    height: 200px;
    transform: rotateZ(45deg);
    margin-top: 50px;
}
#work-photo h2{
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    line-height: 35px;
}

#work-photo .photo .caption{
    position:absolute;
    left:-100%;
    top:136px;
    width: 100%;
    height: 45%;
    transition: all 0.5s ease;
    color:#ffd670;
}
#work-photo .photo .caption p{
    font-size:22px;
    font-weight: 500;
}
#work-photo .photo .caption img{
    position: relative;
    width: 20%;
    height: 45%;
    transform: rotateZ(0deg);
    bottom: 25px;
}
#work-photo .photo:hover .caption{
    left:0;
}











/*这里是博客页面*/
#blog{
    width:100%;
    height:800px;
    background-color:#fff;
    position: relative;
}
#blog  .account-f h3{
    color:#5b6074;
}
#blog .account-f label{
    background-color:#6e7389;
}
#blog .account-f p{
    color:#838baa;
}

/*博客页面的image页面*/
#blog-header{
    height:80%;
    width:100%;
}
#blog-image{
    height:100%;
    width:47%;
    position: relative;
    float: left;
}
#blog-image img{
    position: absolute;
    left:0;
    top:-100px;
}
/*博客页面的search页面*/
#blog-search{
    float: left;
    width: 43%;
    height: 100%;
    margin-top: 3%;
    margin-left: 5%;
}
#search-btn{
    height:10%;
    width:100%;
}
#search-btn p{
    text-align: center;
    width: 40%;
    position: relative;
    margin: 0 auto;
}
#search-submit{
    border: none;
    width: 28px;
    background: url(../images/search.png) no-repeat;
    height: 26px;
    outline: none;
    position: absolute;
    right: -36px;
    top: 11px;
    cursor: pointer;
}
#search-txt{
    font-size: 18px;
    text-indent: 20px;
    color: #ffd670;
    border-radius: 8px 8px;
    line-height: 45px;
    outline: none;
    border: none;
    background: #F8F8F8;
    width: 100%;
    padding-right: 50px;
}

#blog-search input::-webkit-input-placeholder{
    color:#ffd670;
}
#blog-search input:-moz-placeholder{
　　color:#ffd670;
}
#blog-search input::-moz-placeholder{
　　color:#ffd670;
}
#blog-search input:-ms-input-placeholder{
　　color:#ffd670;
}





#article-top{
    width:100%;
    height:40%;
    border:2px solid red;
    z-index: 888;
    border-radius:20px 20px;
}
#article-top ul li{
    list-style: none;
}
#article-top ul li a{
    text-decoration:none;
    color:#ffd670;
}
#article-recommend{
    width:100%;
    height:40%;
    border:2px solid blue;
    z-index: 888;
    margin-top:30px;
    border-radius:20px 20px;
}
#article-recommend ul li{
    list-style: none;
}
#article-recommend ul li a{
    text-decoration:none;
    color:#ffd670;
}
#blog-search h2{
    line-height: 40px;
    color: #ffd670;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
}
#blog-search ul{
    margin-top:20px;
}
#blog-search ul li{
    font-size: 1.3em;
    text-align: center;
    line-height:35px;
}





/*这里是联系页面*/
#contact{
    width:100%;
    height:800px;
    background-color:#9cabaf;
    position: relative;
}


#contact-contact{
    width: 50%;
    height: 20%;
    margin:0 auto;
    text-align: center;
    margin-top: 30px;
}
#contact-contact span{
    font-size: 26px;
    color: #fff;
    display: inline-block;
    width: 60%;
    position: relative;
    top: 20px;
}
#contact-contact img{
    position: relative;
    top: 45px;
}
#mail{
    float:left;
    width:60%;
}
#phone{
    float:left;
    width: 40%;
}







/*联系页面的input*/
#contact-form{
    width:80%;
    height:61%;
    margin:0 auto;
}
#contact-form input{
    color:#a09b9b;
    font-size:18px;
    text-indent:20px;
    width: 49.5%;
    height: 55px;
    background-color: #7a7777;
    border: none;
    outline: none;
    border-radius: 8px 8px;
}
#contact-form textarea{
    color:#a09b9b;
    font-size: 18px;
    text-indent: 7px;
    width: 97%;
    height: 200px;
    background-color: #7a7777;
    border: none;
    outline: none;
    border-radius: 8px 8px;
    margin-top: 45px;
    padding: 15px;
}

#contact-form #send-submit{
    color: #fff;
    font-weight: 800;
    font-size: 23px;
    text-indent: 20px;
    margin: 41px 31%;
    width: 36.5%;
    height: 55px;
    background-color: #ffd670;
    border: none;
    outline: none;
    border-radius: 8px 8px;
    cursor:pointer;
}

#contact-form textarea::-webkit-input-placeholder{
    font-size:20px;
    font-weight: 800;    
}
#contact-form textarea:-moz-placeholder{
　　font-size:20px;
    font-weight: 800; 
}
#contact-form textarea::-moz-placeholder{
　　font-size:20px;
    font-weight: 800; 
}
#contact-form textarea:-ms-input-placeholder{
　　font-size:20px;
    font-weight: 800; 
}



#contact-form input::-webkit-input-placeholder{
    font-size:18px;
}
#contact-form input:-moz-placeholder{
　　font-size:18px;
}
#contact-form input::-moz-placeholder{
　　font-size:18px;
}
#contact-form input:-ms-input-placeholder{
　　font-size:18px;
}



/*这里是页脚页面*/
#footer{
    height: 100px;
    background-color:#50465e;
    text-align:center;
}
#footer p{
    line-height:100px;
    font-size:18px;
    font-weight: 300;
    color:#AAAAAA;
}





/*右下角的div*/
#foot-top{
    position:fixed;
    bottom:20px;
    right:20px;
    background-color:#FFD670;
    width:50px;
    height:40px;
    z-index: 9999;
    color:#fff;
    font-size:35px;
    text-align: center;
    cursor:pointer;
    display: none;
}

#foot-top:hover{

}